.mainCont {
    width: 50%;
    height: 550px;
    position: fixed;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    left: 50%;
    margin-left: -25%;
    top: 50%;
    margin-top: -225px;
    border-radius: 5px;
    background: var(--fourth-color);
    box-shadow: 0 14px 20px 0 #333;
    z-index: 3;
}

.closeBtn{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px;
    border: none;
    background: none;
}

.closeBtnImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.titleCont{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    flex-direction: column;
}

.h3{
    font-size: 22px;
    font-family: var(--first-font);
    text-align: center;

}

.h3 b{
    color: var(--second-color);
}

.fieldCont{
    height: 95%;
    display: grid;
    grid-template-rows: 60% 25% 5% 10%;
    justify-content: center;
}

.fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fields input{
    font-family: var(--first-font);
    font-size: 18px;
    margin: 7px 0;

}

.login{
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 40%;
    background: linear-gradient(90deg, #b645ff, #c0ab41);
    border: none;
    font-size: 20px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 800;
    font-family: var(--first-font);
}

.switch{
    align-self: start;
    border: none;
    font-size: 16px;
    background: none;
    color: var(--second-color);
    font-family: var(--first-font);
}

.password{
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}
.password input{
    height: 100%;
    width: 100%;
    margin: 0;
}

.passVis{
    position: absolute;
    right: 10px;
    top: 50%;
    width: 10%;
    margin-top: -15px;
    object-fit: contain;
}

.imageCont{
    height: 100%;
    width: 100%;
}

.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.error{
    color: darkred;
    font-family: var(--first-font);
    font-size: 12px;
    justify-self: center;
    align-self: start;
    margin: 0;
}

@media(max-width: 1008px){
    .mainCont{
        width: 70%;
        height: 550px;
        position: fixed;
        left: 50%;
        margin-left: -35%;
        top: 50%;
        margin-top: -225px;
        border-radius: 5px;
        background: var(--fourth-color);
        box-shadow: 0 14px 20px 0 #333;
        z-index: 3;
    }
}
@media(max-width: 756px){
    .mainCont{
        width: 90%;
        height: 550px;
        margin-left: -45%;
        margin-top: -275px;
        display: grid;
        grid-template-rows: .3fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "ph" "te";
    }
    .imageCont{
        grid-area: ph;
        height: 137px;
        width: 100%;
    }
    .titleCont{
        grid-area: te;
    }

    .titleCont{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 15% 85%;
        flex-direction: column;
    }
    .h3{
        align-self: center;
        margin: 0;
    }

    .fieldCont{
        display: grid;
        grid-template-rows: 70% 10% 10% 10%;
        justify-content: center;
    }

    .fields input{
        font-family: var(--first-font);
        font-size: 18px;
        margin: 2px 0;

    }
    .password{
        height: unset;
        width: 100%;
        display: flex;
        margin: 2px 0;
    }

    .login{
        height: 90%;
        align-self: center;
    }

    .error{
        align-self: center;
    }
    .switch{
        align-self: center;
    }
}