    .green{
        color: var(--greenText);
    }
    .black{
        color: var(--blackText);
    }
    .red{
        color: var(--redText);
    }
    .gray{
        color: var(--first-color);
    }

    /*---------------------------------*/


    /*---------------------------------*/

    .left{
        justify-content: flex-start;
    }
    .center{
        justify-content: center;
    }
    .right{
        justify-content: flex-end;
    }
