.normal{
    width: 38%;
    border: 2px solid var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reverse{
    width: 59%;
    border: 2px solid var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
