version: "3.7"

services:
  db:
    image: postgres:12-alpine
    env_file:
      - .env
    volumes:
      - accentuation_data:/var/lib/postgresql/data/
    restart: always

  backend: &backend
    build:
      context: back-end/
      dockerfile: ../compose/django/Dockerfile
    image: sweet-backend
    env_file:
      - .env
    volumes:
      - media:/usr/src/backend/media/
      - static:/usr/src/backend/static/
      - ./back-end/:/usr/src/backend/
      - ./sites_conf/:/usr/scr/sites_conf/
    command: sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
    restart: always

  nginx:
    volumes:
      - ./conf/nginx/local.nginx:/etc/nginx/conf.d/default.conf
      - media:/usr/media/:ro
      - static:/usr/static/:ro
    image: nginx:1.17.9-alpine
    ports:
      - 80:80
    depends_on:
      - backend
      - sites-nginx

  sites-nginx:
    volumes:
      - ./conf/nginx/sites_conf.nginx:/etc/nginx/conf.d/default.conf
      - ./sites_conf/:/usr/scr/sites_conf/
    image: nginx:1.17.9-alpine
    depends_on:
      - backend


volumes:
  accentuation_data:
  media:
  static: