version: "3.7"

services:
  db:
    image: postgres:12-alpine
    env_file:
      - .env
    volumes:
      - accentuation_data:/var/lib/postgresql/data/
    restart: always

  backend: &backend
    build:
      context: back-end/
      dockerfile: ../compose/django/Dockerfile
    image: sweet-backend
    env_file:
      - .env
    volumes:
      - media:/usr/src/backend/media/
      - static:/usr/src/backend/static/
      # Sites
      - ./sites/:/usr/src/sites/
      # Templates
      - ./back-end/templates/:/usr/src/templates/
      # For local development only
      - ./back-end/:/usr/src/backend/
    command: sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
    restart: always

  nginx:
    volumes:
      - media:/usr/media/:ro
      - static:/usr/static/:ro
      - ./conf/nginx/local.nginx:/etc/nginx/conf.d/default.conf
    image: nginx:1.17.9-alpine
    ports:
      - 80:80
    depends_on:
      - backend
      - sites-nginx

  sites-nginx:
    volumes:
      - ./conf/nginx/sites.nginx:/etc/nginx/conf.d/default.conf
      - ./sites/:/usr/src/sites/
    image: nginx:1.17.9-alpine
    depends_on:
      - backend

  rabbitmq:
    image: rabbitmq:3.8.3-alpine
    restart: always

  celery-worker:
    <<: *backend
    image: celery-worker
    command: ["celery", "worker", "-A", "accentuation_220", "--loglevel", "INFO"]
    ports: []
    volumes:
      - /run/:/usr/src/run/
      - ./sites/:/usr/src/sites/
      - ./conf/nginx/:/usr/src/conf/
      - ./back-end/templates/:/usr/src/templates/
      - ./back-end/:/usr/src/backend/
    depends_on:
      - rabbitmq
      - db

volumes:
  accentuation_data:
  media:
  static: