.mainCont {
    height: 650px;
    display: grid;
    grid-template: 80px 1fr / 100%;
    grid-row-gap: 20px;
    color: var(--fourth-color);
    font-family: var(--first-font);
    padding: 130px 150px 0;
    overflow: hidden;
}

.h2 {
    font-family: var(--first-font);
    color: var(--fourth-color);
    font-size: 48px;
    align-self: center;
    justify-self: center;
    margin: 0;
}

.mainCont b {
    color: var(--second-color);
}

.cont {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-template-areas: "text front front" "text back back";
}

.front, .back {
    justify-self: center;
    width: 100%;
    display: grid;
    grid-template: 1fr / 30% 25% 15% 15% 15%;
    justify-content: space-between;
    align-items: center;
}

.text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.text h4 {
    font-size: 28px;
    text-align: start;
}

.text p {
    font-size: 24px;
}

.front {
    grid-area: front;
}

.back {
    grid-area: back;
}

.h3 {
    font-size: 30px;
}

.p {
    font-size: 24px;
}

.link {
    height: 40px;
    text-decoration: none;
    outline: none;
    color: white;
    justify-self: center;
}

.link img {
    height: 40px;
}

@media (max-width: 1208px) {
    .mainCont {
        padding: 130px 50px 0;
    }
    .h3{
        font-size: 26px;
    }
    .p{
        font-size: 20px;
    }
}

@media (max-width: 1008px) {
    .mainCont {
        height: 700px;
        padding: 130px 10px 0;
    }
    .h2 {
        font-size: 42px;
    }
    .cont {
        grid-column-gap: 20px;
    }
}

@media (max-width: 900px) {
    .mainCont{
        padding: 0 5px 0;
    }
    .h2 {
        font-size: 34px;
    }

    .cont{
        grid-template: 1fr 1fr 1fr / 1fr;
        grid-column-gap: 50px;
        grid-template-areas: "text " "front" "back";
    }
}

@media (max-width: 756px) {
    .mainCont{
        padding: 0 5px 0;
    }
    .h2 {
        font-size: 28px;
    }

    .cont{
        grid-template: 1fr 1fr 1fr / 1fr;
        grid-column-gap: 50px;
        grid-template-areas: "text " "front" "back";
    }
    .h3{
        font-size: 22px;
    }
    .p{
        font-size: 18px;
    }
    .link img {
         height: 35px;
     }
}
@media (max-width: 568px) {
    .mainCont{
        height: 1100px;
    }
    .h2 {
        font-size: 28px;
    }
    .cont{
        grid-template: 1fr .7fr .7fr / 1fr;
        grid-column-gap: 50px;
        grid-template-areas: "text " "front" "back";
    }
    .front, .back {
        grid-template: 1fr 1fr / 33.3% 33.3% 33.3%;
        grid-template-areas: "h3 h3 p" "... ... ...";
        justify-content: space-between;
        align-items: center;
    }
    .h3{
        grid-area: h3;
        font-size: 22px;
    }
    .p{
        grid-area: p;
        font-size: 18px;
    }
    .link img {
         height: 35px;
     }
}

