.mainCont {
    min-height: 100vh;
    display: grid;
    grid-template: 100px 200px 32px 1fr / 1fr 1fr;
    grid-template-areas: "... ..." "header header" "ms ms" "sites sites";
    font-family: var(--first-font);
    padding: 0 0 30px 0;
}

.header {
    height: 100%;
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 30px 150px;
}

.name {
    width: 50%;
    height: 100%;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name h3 {
    margin: 0;
}


.slogan {
    width: 50%;
    height: 100%;
    font-size: 34px;
    display: flex;
    align-items: center;
}

.slogan h4 {
    text-align: end;
}

.ms {
    grid-area: ms;
    align-self: center;
    padding: 0 150px;
    margin: 0;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}

.sitesCont {
    grid-area: sites;
    width: 100%;
    display: grid;
    grid-template: repeat(auto-fit, 1fr) / 1fr;
    grid-row-gap: 20px;
    padding: 30px 150px 0;
}

.sitesCont iframe {
    min-height: 350px;
    min-width: 90%;
    justify-self: center;
}

.link {
    align-self: center;
    justify-self: center;
    text-decoration: none;
    font-family: inherit;
    display: flex;
    align-items: center;
    color: black;
    font-size: 24px;
}

.plus {
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
}

.link:hover .plus {
    background: var(--second-color);
}

.logOut {
    background: none;
    outline: none;
    border: none;
    color: #8b0000;
    font-weight: bolder;
    font-size: 26px;
    font-family: inherit;
    padding: 0;
    display: flex;
    cursor: pointer;
}

.logOut:hover {
    color: #f52222;
}

@media (max-width: 1208px) {
    .header, .sitesCont, .ms {
        padding: 0 50px;
    }
}

@media (max-width: 1008px) {
    .header, .sitesCont, .ms {
        padding: 0 10px;
    }

    .name {
        font-size: 32px;
    }

    .slogan {
        font-size: 24px;
    }

    .logOut {
        font-size: 22px;
    }

}

@media (max-width: 576px) {
    .mainCont {
        min-height: 100vh;
        display: grid;
        grid-template: 80px 150px 32px 1fr / 1fr 1fr;
        grid-template-areas: "... ..." "header header" "ms ms" "sites sites";
        font-family: var(--first-font);
    }

    .name {
        font-size: 28px;
    }

    .slogan {
        font-size: 22px;
    }

    .ms {
        font-size: 18px;
    }

    .link {
        font-size: 20px;
    }

    .plus {
        width: 40px;
    }

    .logOut {
        font-size: 16px;
    }
}

.error {
    color: #e52929;
    font-size: 32px;
    display: flex;
    align-self: center;
    justify-content: center;
}