.mainCont{
    min-height: 100vh;
    display: grid;
    grid-template: 100px 200px 32px 1fr / 1fr 1fr;
    grid-template-areas: "... ..." "header header" "ms ms" "sites sites";
    font-family: var(--first-font);
}

.header{
    height: 100%;
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 30px 150px;
}

.name{
    width: 50%;
    height: 100%;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name h3{
    margin: 0;
}


.slogan{
    width: 50%;
    height: 100%;
    font-size: 34px;
    display: flex;
    align-items: center;
}

.slogan h4{
    text-align: end;
}

.ms{
    grid-area: ms;
    align-self: center;
    padding: 0 150px;
    margin: 0;
    font-size: 28px;
}

.sitesCont{
    grid-area: sites;
    width: 100%;
    display: grid;
    grid-template: repeat(auto-fit, 1fr) / 1fr;
    grid-row-gap: 20px;
    padding: 10px 150px 0;
}
.sitesCont iframe{
    max-height: 350px;
}
.link{
    align-self: center;
    justify-self: center;
    text-decoration: none;
    font-family: inherit;
    display: flex;
    align-items: center;
    color: black;
    font-size: 24px;
}
.plus{
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
}
.link:hover .plus{
    background: var(--second-color);
}

@media(max-width: 1208px){
    .header, .sitesCont, .ms{
        padding: 0 50px;
    }
}
@media(max-width: 1008px){
    .header, .sitesCont{
        padding: 0 10px;
    }
}