.mainCont{
    height: 500px;
    /*margin: 0 -150px;*/
    padding: 0 150px;
    background: url("../../../images/city-back.png") center / cover;
    font-family: var(--first-font);
    color: var(--fourth-color);
    text-align: center;
    display: flex;
    align-items: center;
}


.h1{
    margin: 0;
    font-size: 60px;
}

.p{
    font-size: 24px;
}

@media (max-width: 1256px){
    .mainCont{
        margin: 0 -100px;
        padding: 0 100px;
    }

}
@media (max-width: 998px){
    .mainCont{
        height: 350px;
        margin: 0 -50px;
        padding: 0 50px;
    }
    .h1{
        font-size: 50px;
    }

    .p{
        font-size: 22px;
    }
}
@media (max-width: 768px){
    .mainCont{
        margin: 0 -50px;
        padding: 0 50px;
    }
    .h1{
        font-size: 40px;
    }

    .p{
        font-size: 20px;
    }
}

@media (max-width: 576px){
    .mainCont{
        margin: 0 -20px;
        padding: 0 20px;
    }
    .h1{
        font-size: 36px;
    }

    .p{
        font-size: 18px;
    }
}
