server {
  listen 80;
  server_name freelancer.220-accentuation.co;
  server_tokens on;

    location / {
    root   /usr/src/sites/freelancer;
    index  index.html index.htm;

    try_files $uri /index.html;
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}

server {
  listen 80;
  server_name grayslace.220-accentuation.co;
  server_tokens on;

    location / {
    root   /usr/src/sites/grayscale;
    index  index.html index.htm;

    try_files $uri /index.html;
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}
