.p{
    font-family: var(--first-font);
    font-weight: 600;
    font-size: 24px;
    color: var(--first-color);
    margin: 15px 0;
    padding: 0 5px;
}
.p b{
    color: var(--second-color);
}
@media (max-width: 768px){
    .p{
        font-size: 20px;
    }
}

@media (max-width: 576px){
    .p{
        font-size: 18px;
        margin: 10px 0;
    }
}
