.p{
    font-family: var(--first-font);
    font-weight: 600;
    font-size: 24px;
    color: var(--third-color);
}
.p b{
    color: var(--second-color);
}
@media (max-width: 768px){
    .p{
        font-size: 20px;
    }
}

@media (max-width: 576px){
    .p{
        font-size: 18px;
    }
}
