.nav {
    display: flex;
    justify-content: space-between;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "m m r" "r m m" "m m r" "f f q";
}

.m {
    /*grid-area: m;*/
}

.r{
    /*grid-area: r;*/
}

.body p {
    height: 80%;
    margin: 0;
}
