.mainCont{
    padding: 50px 0;
}

.logo{
    width: 100%;
    justify-self: start;
}

.h2{
   font-family: var(--first-font);
    font-size: 48px;
    text-align: center;
    margin: 0 0 50px 0;
    cursor: default;
}

.templateCont{
    display: grid;
    grid-row-gap: 20px;
    padding: 0 10px;
}

.templateCellCont{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.templateLink{
    height: 40px;
    width: 200px;
    font-family: var(--first-font);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    color: black;
    background: rgb(255, 255, 255);
    bottom: -40px;
    right: 15%;
    transition: .1s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.template{
    justify-self: center;
    height: 350px;
    width: 80%;
    transition: .1s ease-in-out;
}

.templateCellCont:hover .templateLink{
    bottom: 0;
}
.templateCellCont:hover .template{
    box-shadow: 0 6px 70px 0 rgba(171, 171, 171, 0.48);
}