.mainCont{
    padding: 50px 0;
}

.h2{
    position: relative;
   font-family: var(--first-font);
    font-size: 48px;
    text-align: center;
    margin: 0 0 50px 0;
    cursor: default;
    padding: 0 35px;
}

.backLink {
    position: absolute;
    left: 158px;
    text-decoration: none;
    outline: none;
}

.templateCont{
    display: grid;
    grid-row-gap: 20px;
    padding: 0 10px;
}

.templateCellCont{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 150px;
}

.templateLink{
    height: 40px;
    width: 200px;
    font-family: var(--first-font);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    color: black;
    background: rgb(255, 255, 255);
    bottom: -40px;
    right: 15%;
    transition: .1s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.template{
    justify-self: center;
    height: 350px;
    width: 100%;
    transition: .1s ease-in-out;
}

.templateCellCont:hover .templateLink{
    bottom: 0;
}
.templateCellCont:hover .template{
    box-shadow: 0 6px 70px 0 rgba(171, 171, 171, 0.48);
}
.backLink img{
    width: 30px;
}

@media (max-width: 756px) {
    .h2{
        font-size: 38px;
    }
}
@media (max-width: 568px) {
    .h2{
        font-size: 32px;
    }
    .backLink img{
        width: 20px;
    }
}
@media(max-width: 1208px){
    .backLink {
        left: 57px;
    }
    .templateCellCont{
        padding:  0 50px;
     }
}
@media(max-width: 1008px){
    .backLink {
        left: 17px;
    }
    .templateCellCont{
        padding: 0 10px;
    }
}
