.mainCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 320px;
    font-family: var(--first-font);
    border-radius: 34px;
    color: var(--first-color);
    background: rgba(0, 0, 0, 0.63);
    transition: .1s ease-in-out;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.link b{
    color: var(--second-color);
}

.cont:hover{
    background: black;
}

@media(max-width: 756px){
    .cont{
        height: 60px;
        width: 260px;
        font-size: 24px;
    }
}
