.header{
    background: url("../../images/mike-kononov-lFv0V3_2H6s-unsplash.jpg") center / cover;
    padding: 100px 0;
}

.body{
    background: linear-gradient(#876ff0,#F28B7E);
}
/*#F28E84*/
/*#F28B7E*/